*,
*::after,
*::before {
  box-sizing: inherit;
}

.product_row{
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow: auto;
    color: #1D1D1D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 976px;
    box-sizing: border-box;
}
.card{
    display: block;
    padding-bottom: 20px;
    flex-basis: 33.33%;
    padding-left: 8px;
    padding-right: 8px;
  }
.card-link{
    display: block;
    text-decoration: none;
    color: #1d1d1d;
    padding-bottom: 20px;
}
.card-link:hover{
    background-color: #DCDCDC;

}
.card__image{
        display: block;
        width: 100%;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

}
.card__textBox{
    font-size: 16px;
    line-height: 24px;
}
.card__textBox2{
font-size: 14px;
line-height: 21px;
color: #626262;
}
.card__textBox3{
font-size: 13px;
line-height: 21px;
}