*,
*::after,
*::before {
  box-sizing: inherit;
}
.main__title {
        margin-bottom: 16px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
    }
.col-12 {
    width: 100%;
    max-width: 976px;
    margin: 0px auto 0px auto;
    flex-basis: 100%;
    padding-left: 8px;
    padding-right: 8px;
  
}
.product_row{
    width: 100%;
    max-width: 976px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow: auto;
    color: #1D1D1D;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;

    box-sizing: border-box;
}
.card{
    width: 100%;
    display: block;
    padding-bottom: 20px;
    flex-basis: 33.33%;
    padding-left: 8px;
    padding-right: 8px;
  }
  @media screen and (max-width: 572px) {
    .card{
        display: block;
        padding-bottom: 20px;
        flex-basis: 100%;        
        margin: auto;
    }
}
@media (min-width: 573px) and (max-width: 762px) {
    .card{
        display: block;
        padding-bottom: 20px;
        flex-basis: 50%;
        margin: auto;
    }
}
.card-link{
    display: block;
    text-decoration: none;
    color: #1d1d1d;
    padding-bottom: 20px;
}
.card-link:hover{
    background-color: #DCDCDC;}
.card__image{
    position: relative;
        display: block;
        width: 100%;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}
.card__title{
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
}
.card__info{
font-size: 14px;
line-height: 21px;
color: #626262;
}
.card__delivery, .card__rating{
font-size: 13px;
line-height: 21px;
}
.card__rating{
    padding-left: 15px;
}
.card__description{
    display: flex;
}
.card__imge__likebutton{
    position: absolute;
    bottom: 12px;
    right: 10px;
    background: url(./img/heart.svg);
    height: 20px;
    width: 22px;
    border: none;
}
.card__img__sale {
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #734BDA;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
    padding: 6px 20px 6px 10px;
}